.main{
    display: flex;
    justify-content: space-between;
}
.sel{
    width: 170px;
    font-size: 15px;
    height: 45px;
    border: none;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
}
.fil{
    color: aliceblue;
    padding: 0px 0px 0px 20px;
}